# Case Study on Testing of Hypothesis

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stat

In [2]:
#reading the dataset
data=pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [3]:
#data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [4]:
#describing the data
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
#checking if there is any null values in the dataset
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# 1)The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Sample size<30,So we using t-test

H0 = Null Hypothesis

H1 = Alternative hypothesis

### H0:There is no increase in sales after stepping into digital marketing

### H1:There is increase in sales after stepping into digital marketing

In [6]:
#probability for rejecting or accepting condition
alpha_value1=0.05

In [7]:
#finding p value using t-test
ttest,p_value=stat.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
print(p_value)

6.336667004575778e-11

In [9]:
#conditions
if p_value<0.05:
    print("we reject the null hypothesis since p_value<alpha value i.e ",p_value,"<",alpha_value1)
else:
    print("we accept the null hypothesis since p_value>alpha value i.e ",p_value,">",alpha_value1)

we reject the null hypothesis since p_value<alpha value i.e  6.336667004575778e-11 < 0.05

Therefore we rejected the null hypothesis.
So we conclude that there is increase in sales after stepping into digital marketing

# 2)The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Here we have to check the dependency between 2 features.So we use the chi square test for Independence.

HO=Null Hypothesis

H1=Alternative Hypothesis

### H0:Region and Manager are independent to each other

### H1:Region and Manager are dependent to each other

In [10]:
alpha_value2=0.05

In [11]:
#cross tabulation table
depndt = pd.crosstab(data["Region"], data["Manager"])
depndt

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [12]:
chi_square,p_value,DOF,array=stat.chi2_contingency(depndt)

In [13]:
chi_square

3.050566893424036

In [14]:
p_value

0.5493991051158094

In [15]:
#conditions
if p_value<0.05:
    print('We reject the null hypothesis since p_value<alpha value i.e ',p_value,"<",alpha_value2)
else:
    print('We accept the null hypothesis since p_value>alpha value i.e ',p_value,">",alpha_value2)

We accept the null hypothesis since p_value>alpha value i.e  0.5493991051158094 > 0.05

So we can conclude that the features Region and Manager are not dependent